# Prerequisites
*.d
Makefile

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Extra ignore paths
.vs/
.vscode/
.build/
Bin/
export/
Intermediate/

# Extra ignore files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.code-workspace
*.sln
*.slnx

# Exceptions
!*premake*
